<!-- <div class="row">
  <div class="col-sm-4">
    <div class="alert alert-secondary" role="alert">
      movingOffset: {{'{'}} x: {{movingOffset.x}}, y: {{movingOffset.y}} {{'}'}}
    </div>
    <div class="alert alert-secondary" role="alert">
      endOffset: {{'{'}} x: {{endOffset.x}}, y: {{endOffset.y}} {{'}'}}
    </div>
  </div>
  <div class="col-sm-8">
    <div ngDraggable class="drag-block" (started)="onStart($event)" (stopped)="onStop($event)" (movingOffset)="onMoving($event)"
      [preventDefaultEvent]="true" (endOffset)="onMoveEnd($event)">
      
    </div>
  </div>
</div> -->


<!-- <div class="col-sm-8"> -->
  <!-- <div ngDraggable class="drag-block" 
    (started)="onStart($event)" 
    (stopped)="onStop($event)" 
    (movingOffset)="onMoving($event)"
    [preventDefaultEvent]="true" 
    (endOffset)="onMoveEnd($event)" 
    [position] = "position" 
    [bounds]="ref" 
    [inBounds]="inBounds" 
    (onmouseover)="onStart($event)"
    (click) = "getApData($event,position)"
    >
    <h6>{{name}}</h6>
  </div> -->