<div class="pageheader">
  <h1>Subscriber Master</h1>
  <div>
    <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="openSubscriberDetailsModal(addEditSubscribeModal)"
    >
      <mat-icon>add</mat-icon>
      Add Subscriber
    </button>
  </div>
</div>

<!-- No Records Message -->
@if (dataSource.length === 0) {
  <div class="alert alert-warning text-center fs-5">
    No Record Found...
  </div>
}

<!-- Table -->
<div class="row">
  <app-table
    [dataSize]="dataSize"
    [tableHeaders]="displayedColumns"
    [tableButtons]="tableButtons"
    [tableData]="dataSource"
    (eventEmitRecordOperation)="triggerRecordOperation($event)"
  ></app-table>
</div>

<!-- ---------------- Subscriber Add/Edit Modal ---------------- -->
<ng-template #addEditSubscribeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Subscriber Master</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <!-- ✅ Form wraps modal-body & footer -->
  <form [formGroup]="form" (ngSubmit)="saveSubscribeDetails()">
    <div class="modal-body">
      <div class="row g-3">
        <!-- User Type -->
        <div class="col-md-6">
          <label class="d-block">User Type <span class="text-danger">*</span></label>

          <div class="form-check form-check-inline" *ngFor="let type of ['PPPoE','IPoE','MAC','Hotspot','BYOD']; let i=index">
            <input
              class="form-check-input"
              type="radio"
              formControlName="usertype"
              [value]="type"
              [id]="'ut' + type"
            />
            <label class="form-check-label" [for]="'ut' + type">{{ type }}</label>
          </div>

          @if (form.controls['usertype'].errors?.['required'] && form.controls['usertype'].touched) {
            <div class="text-danger mt-1 small">User Type is required</div>
          }
        </div>

        <!-- Username -->
        <div class="col-md-3">
          <label>Username</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>

        <!-- Password -->
        <div class="col-md-3">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="spassword" />
        </div>

        <!-- Confirm Password -->
        <div class="col-md-3">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmpassword" />
        </div>

        <!-- IP Address -->
        <div class="col-md-3">
          <label>
            IP Address
            @if (form.get('usertype')?.value === 'IPoE') {
              <span class="text-danger">*</span>
            }
          </label>
          <input type="text" formControlName="ipaddress" class="form-control" />
          @if(form.get('usertype')?.value === 'IPoE'
              && form.get('ipaddress')?.touched
              && form.get('ipaddress')?.hasError('required')) {
            <div class="text-danger">IP Address is required for IPOE.</div>
          }
        </div>

        <!-- MAC Address -->
        <div class="col-md-3">
          <label>MAC Address (Default)</label>
          <input type="text" class="form-control" formControlName="macaddress_default" />
        </div>

        <!-- Dynamic MAC Addresses -->
        <div formArrayName="macaddresses">
          <div
            *ngFor="let ctrl of macaddresses.controls; let i=index"
            class="col-md-3 d-flex align-items-center mt-2"
          >
            <input
              [formControlName]="i"
              class="form-control me-2"
              placeholder="MAC Address {{i+2}}"
            />
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeMacAddress(i)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

        <div class="col-12 mt-2">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="addMacAddress()"
          >
            + Add MAC Address
          </button>
        </div>

        <!-- Other Fields -->
        <div class="col-md-3">
          <label>User Count</label>
          <input type="number" class="form-control" formControlName="usercount" />
        </div>

        <div class="col-md-3">
          <label>First Name</label>
          <input type="text" class="form-control" formControlName="firstname" />
        </div>

        <div class="col-md-3">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="lastname" />
        </div>

        <div class="col-md-3">
          <label>Contact No</label>
          <input type="text" class="form-control" formControlName="contactno" />
        </div>

        <div class="col-md-3">
          <label>Address</label>
          <textarea class="form-control" formControlName="address"></textarea>
        </div>

        <div class="col-md-3">
          <label>Pincode</label>
          <input type="number" class="form-control" formControlName="pincode" />
        </div>

        <div class="col-md-3">
          <label>Simultaneous Use</label>
          <input type="number" class="form-control" formControlName="simultanouse_use" />
        </div>

        <div class="col-md-3">
          <label>Select Package</label>
          <select class="form-select" formControlName="package">
            <option *ngFor="let p of packageList" [value]="p.packagename">{{ p.packagename }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label>Amount</label>
          <input type="number" class="form-control" formControlName="amount" />
        </div>

        <div class="col-md-3">
          <label>Package Expiry</label>
          <input type="date" class="form-control" formControlName="packageexpiry" />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
      <button type="submit" class="btn btn-success mx-1" [disabled]="form.invalid">
        {{ isEditMode ? "Update" : "Submit" }}
      </button>
    </div>
  </form>
</ng-template>

